<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Listar tarjetas - Yven</title>
</head>
<body>
	<div align="center">
		<h1>Tarjetas</h1>
		<a th:href="@{/tarjetas/nuevo}">Crear nueva tarjeta</a>
		<br/>
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>ID</th>
					<th>Tipo Tarjeta</th>
					<th>Nombre Tarjeta</th>
					<th>Número Tarjeta</th>
					<th>Tiempo de Expiración</th>
					<th>Código de Seguridad</th>
					<th>CVC</th>
					<th>CVV</th>
					<th>Dirección</th>
					<th>Ciudad</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="tarjeta : ${listaTarjetas}">
					<td th:text="${tarjeta.idTarjeta}">Id</td>
					<td th:text="${tarjeta.tipoTarjeta}">Tipo Tarjeta</td>
					<td th:text="${tarjeta.nombreTarjeta}">Nombre Tarjeta</td>
					<td th:text="${tarjeta.numeroTarjeta}">Número Tarjeta</td>
					<td th:text="${tarjeta.tiempoExpiracion}">Tiempo de Expiración</td>
					<td th:text="${tarjeta.codigoSeguridad}">Código de Seguridad</td>
					<td th:text="${tarjeta.cvc}">CVC</td>
					<td th:text="${tarjeta.cvv}">CVV</td>
					<td th:text="${tarjeta.direccion}">Dirección</td>
					<td th:text="${tarjeta.ciudad}">Ciudad</td>
					<td><a th:href="@{/tarjetas/actualizar/{id}(id=${tarjeta.idTarjeta})}">Actualizar</a></td>
					<td><a th:href="@{/tarjetas/eliminar/{id}(id=${tarjeta.idTarjeta})}">Eliminar</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>
