<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Listar eventos - Yven</title>
</head>
<body>
	<div align="center">
		<h1>Eventos</h1>
		<a th:href="@{/eventos/nuevo}">Listado de eventos</a>
		<br/>
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>ID</th>
					<th>Titulo</th>
					<th>Descripción</th>
					<th>Ubicación</th>
					<th>Tipo</th>
					<th>Fecha</th>
					<th>Inicio</th>
					<th>Finalización</th>
					<th>Capacidad</th>
					<th>Estado</th>
					<th>Precio</th>
					<th>Catering</th>
					<th>Presupuesto</th>
					<th>Proveedor</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="pelicula : ${listaPeliculas}">
					<td th:text="${pelicula.idPelicula}">Id</td>
					<td th:text="${pelicula.nombre}">Nombre</td>
					<td th:text="${pelicula.duracion}">Duracion</td>
					<td th:text="${pelicula.clasificacion}">Clasificacion</td>
					<td th:text="${pelicula.idioma}">Idioma</td>
					<td th:text="${pelicula.genero}">Genero</td>
					<td th:text="${pelicula.formato}">Formato</td>
					<td th:text="${pelicula.sinopsis}">Sinopsis</td>
					<td><a th:href="@{/eventos/actualizar/{id}(id=${pelicula.idPelicula})}">Actualizar</a>
					<td><a th:href="@{/eventos/eliminar/{id}(id=${pelicula.idPelicula})}">Eliminar</a>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>