<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
    <title>Crear evento - Yven</title>
    <link rel="stylesheet" href="../static/assets/css/style.css">
</head>
<body>
    <main>
        <section class="events-list">
            <h2 align="center">Organizar evento</h2>
            <table align="center">
                <thead>
					<tr>
					   <td>Mis eventos</td>
					</tr>
                </thead>
                <tbody>
					<tr>
					   <td>Titulo del Evento: </td>
					   <td><input type="text" th:field="*{nombre}"></td>
					</tr>
					<tr>
					   <td>Descripción del evento:</td>
					   <td><input type="text" th:field="*{nombre}"></td>
					</tr>
					<tr>
					   <td>Ubicación del evento</td>
					   <td><input type="text" th:field="*{nombre}"></td>
					</tr>
					<tr>
					   <td>Tipo de evento:</td>
					   <td><input type="text" th:field="*{nombre}"></td>
					</tr>
					<tr>
					   <td>Fecha del evento :</td>
					   <td><input type="text" th:field="*{nombre}"></td>
					</tr>
					<tr>
					   <td>Hora de inicio del evento:</td>
					   <td><input type="text" th:field="*{nombre}"></td>
					</tr>
					<tr>
					   <td>Hora de finalización del evento:</td>
					   <td><input type="text" th:field="*{nombre}"></td>
					</tr>
					<tr>
					   <td>Capacidad del evento:</td>
					   <td><input type="text" th:field="*{nombre}"></td>
					</tr>
					<tr>
					   <td>Estado del evento:</td>
					   <td><input type="text" th:field="*{nombre}"></td>
					</tr>
					<tr>
					   <td>Precio de la entrada:</td>
					   <td><input type="text" th:field="*{nombre}"></td>
					</tr>
					<tr>
					   <td>Catering:</td>
					   <td><input type="text" th:field="*{nombre}"></td>
					</tr>
					<tr>
					   <td>Presupuesto:</td>
					   <td><input type="text" th:field="*{nombre}"></td>
					</tr>
					<tr>
					   <td>Proveedor:</td>
					   <td><input type="text" th:field="*{nombre}"></td>
					</tr>
                </tbody>
            </table>
			<button align="center">Organizar evento</button>
        </section>
    </main>

    </body>
</html>
