<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Listar eventos - Yven</title>
</head>
<body>
	<div align="center">
		<h1>Eventos</h1>
		<a th:href="@{/eventos/nuevo}">Crear nuevo evento</a>
		<br/>
		<table border="1" cellpadding="10">
			<thead>
				<tr>
					<th>ID</th>
					<th>Titulo</th>
					<th>Descripción</th>
					<th>Ubicación</th>
					<th>Tipo</th>
					<th>Fecha</th>
					<th>Inicio</th>
					<th>Finalización</th>
					<th>Capacidad</th>
					<th>Estado</th>
					<th>Precio</th>
					<th>Catering</th>
					<th>Presupuesto</th>
					<!--<th>Proveedor</th>					-->
				</tr>
			</thead>
			<tbody>
				<tr th:each="evento : ${listaEventos}">
					<td th:text="${evento.idEvento}">Id</td>
					<td th:text="${evento.tituloEvento}">Titulo</td>
					<td th:text="${evento.descripcionEvento}">Descripción</td>
					<td th:text="${evento.ubicacionEvento}">Ubicación</td>
					<td th:text="${evento.tipoEvento}">Tipo Evento</td>
					<td th:text="${evento.fechaEvento}">Fecha del evento</td>
					<td th:text="${evento.horaInicio}">Inicio</td>
					<td th:text="${evento.horaFinalizacion}">Finalización</td>
					<td th:text="${evento.capacidadEvento}">Capacidad</td>
					<td th:text="${evento.estadoEvento}">Estado</td>
					<td th:text="${evento.precioEntrada}">Precio</td>
					<td th:text="${evento.catering}">Catering</td>
					<td th:text="${evento.presupuesto}">Presupuesto</td>
					<!-- <td th:text="${evento.organizadorId}">Proveedor</td> -->
					<td><a th:href="@{/eventos/actualizar/{id}(id=${evento.idEvento})}">Actualizar</a>
					<td><a th:href="@{/eventos/eliminar/{id}(id=${evento.idEvento})}">Eliminar</a>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>