<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
    <title>Registrar persona - Yven</title>
    <link rel="stylesheet" href="../static/assets/css/style.css">
</head>
<body>
    <main>
        <section class="person-form">
            <h2 align="center">Registrar persona</h2>
			
		<form action="#" th:action="@{/personas/guardar}" th:object="${persona}" method="post">
			<table align="center">
				<thead>
					<tr>
						<td>Nueva persona:</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Tipo de Documento: </td>
						<td><input type="text" th:field="*{tipoDocumento}"></td>
					</tr>
					<tr>
						<td>Número de Documento:</td>
						<td><input type="text" th:field="*{numeroDocumento}"></td>
					</tr>
					<tr>
						<td>Primer Apellido:</td>
						<td><input type="text" th:field="*{primerApellido}"></td>
					</tr>
					<tr>
						<td>Segundo Apellido:</td>
						<td><input type="text" th:field="*{segundoApellido}"></td>
					</tr>
					<tr>
						<td>Nombres:</td>
						<td><input type="text" th:field="*{nombres}"></td>
					</tr>
					<tr>
						<td>Fecha de Nacimiento:</td>
						<td><input type="text" th:field="*{fechaNacimiento}"></td>
					</tr>
					<tr>
						<td>Sexo:</td>
						<td><input type="text" th:field="*{sexo}"></td>
					</tr>
					<tr>
						<td>Estado Civil:</td>
						<td><input type="text" th:field="*{estadoCivil}"></td>
					</tr>
					<tr>
						<td>Ubigeo:</td>
						<td><input type="text" th:field="*{ubigeo}"></td>
					</tr>
					<tr>
						<td colspan="2" align="center">
							<button type="submit">Registrar persona</button>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
        </section>
    </main>
</body>
</html>
